
/* This is my first proper css file */

body{
    background-color: rgb(220, 020, 060);
}

h1{
    color:rgb(255,255,255);
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
}

h2{
    color:rgb(255,255,255);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
}

p{
    text-align: center;
}

.chart{
    width: 330px;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;
    text-align: center;
}
