
/* This is my first proper css file */

body{
    background-color: rgb(220, 020, 060);
    max-width: 500px;
    text-align: center;
}

h1{
    color:rgb(255,255,255);
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    color:rgb(255,255,255);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

p{
}

.chart{
    width: 330px;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
