/* Edward Natusch - CSS File for Data Science Website */

/* Background image -courtesy of pixabay - https://pixabay.com/photos/froet-gas-petrol-station-gasoline-195389/ */ 

body{
    background-image:url('fuelstation.jpg');
    background-position: left;
    background-attachment: fixed;
    background-size: cover;
}

img{
    width: 99%;
 }

h1{
    color:rgb(255,255,255);
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
}

h2{
    color:rgb(255,255,255);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
}

h3{
    color:rgb(255,255,255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

p{
}

.chart{
    background-color: white;
    width: auto;
    height: auto;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container1{
    margin: auto;
    max-width: 510px;
    background-color: rgba(32, 42, 68,0.89);
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.container2{
    margin: auto;
    max-width: 600px;
    background-color: rgba(32, 42, 68,0.89);
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: auto;
    padding-right: auto;
}

.container3{
    text-align: center;
}

.container4{
    text-align: center;
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.button {
    background-color: purple; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    margin-left: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
  }

  /* Adjustments for a smartphone screen */

  @media only screen and (max-width:600px) {
    

    body{
        background-image:url('IMG_3718.jpeg');
        background-position: left;
        background-attachment: fixed;
        background-size: cover;
    }
    
    
    
    h1{
        color:rgb(255,255,255);
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        text-align: center;
    }
    
    h2{
        color:rgb(255,255,255);
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        text-align: center;
    }
    
    h3{
        color:rgb(255,255,255);
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        text-align: center;
    }
    
    p{
    }
    
    .chart{
        background-color: white;
        width: auto;
        height: auto;
        border-width: 5px;
        border-style: solid;
        border-radius: 5px;
        border-color: white;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .container1{
        margin: auto;
        max-width: 1000px;
        background-color: rgba(32, 42, 68,0.89);
        border-radius: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container2{
        margin: auto;
        max-width: 2000px;
        background-color: rgba(32, 42, 68,0.89);
        border-radius: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .container3{
        text-align: center;
    }
    
    .container4{
        text-align: center;
        color:rgb(0, 0, 0);
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }
    
    .button {
        background-color: purple; 
        border: none;
        border-radius: 10px;
        color: white;
        padding: 30px 64px;
        margin-left: auto;
        text-decoration: none;
        display: inline-block;
        font-size: 30px;
        font-family: 'Roboto',sans-serif;
      }
      
   img{
       width: 99%;
    }
